.create-post {
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
}

.user-info .user-name {
    font-weight: bold;
    font-size: 20px;
}

.privacy {
    width: 10%;
    margin-bottom: 50px;
    margin-left: 52px;
}

.textarea-container {
    margin-bottom: 15px;
    width: 95%;
    margin-left: 30px;
}


.post-input {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.add-button {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.icon-group {
    gap: 10px;
    margin-left: 30px;
}

.icon-button {
    margin-left: 25px;

    background: none;
    border: none;
    cursor: pointer;
}

.custom-dialog-header {
    font-size: 1.5em;
    font-weight: bold;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.dialog-footer .btn {
    display: flex;
    align-items: center;
}


.image-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Khoảng cách giữa các input ảnh */
}

.image-input {
    /* Style cho input nhập link ảnh */
    flex: 1;
    /* Sử dụng flex để input mở rộng dọc */
    margin-right: 10px;
    /* Khoảng cách giữa input và nút đóng */
}

.close-button {
    /* Style cho nút đóng */
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #0b0b0b;
}

.close-button:hover {
    color: #050505;
}


.image-item span {
    position: absolute;
    top: 8%;
    left: 88%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    /* Màu nền của nút */
    padding: 7px 8px;
    cursor: pointer;
    border-radius: 50%;
}

.items-center {
    background: white; 
    border-radius: 10px; 
    padding: 10px;
    border: 1px solid gray; 
    cursor:pointer
}
.items-center:hover{
    background-color: rgb(226, 223, 223);

}