.custom-dialog-header {
  background-color: #f8f9fa;
  padding: 20px;
}

.p-dialog .p-dialog-header-close {
  margin: 10px;
}

.dialogForm {
  /* Existing styles */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Các ảnh sẽ canh giữa và tự động căn chỉnh khoảng cách giữa chúng */
}

.image-item {
  position: relative;
  margin-bottom: 10px; /* Khoảng cách giữa các hàng */
  flex: 0 0 calc(25% - 10px); /* Độ rộng của mỗi ảnh (25% - khoảng cách giữa các ảnh) */
  max-width: calc(25% - 10px); /* Độ rộng tối đa của mỗi ảnh */
  text-align: center; /* Canh giữa nút span */
}

.image-item img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.image-item span {
  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền của nút */
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 50%;
}

.image-item span:hover {
  background-color: rgba(255, 0, 0, 0.8); /* Màu nền khi hover */
  color: #fff; /* Màu chữ khi hover */
}
